<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>logos inkpen.io.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAC969A92E2416EC0093AB2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC969B72E2416ED0093AB2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC969C12E2416ED0093AB2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
